In [1]:
a=10
result=a>>2
print(result)

2

In [3]:
a=10
result=a<<2
print(result)

40

In [4]:
bin(10)

'0b1010'

In [6]:
bin(40)

'0b101000'

In [8]:
#take input from the operators
name=input('enter student name:')
print(f'welcome,{name}')

enter student name:abhay
welcome,abhay

In [9]:
name=input('enter student name:')
print(f'welcome:{name}')

enter student name:ajay
welcome:ajay

In [10]:
rn=input('enter roll no:')
print(f'welcome:{rn}')

enter roll no:3344
welcome:3344

In [12]:
#assignment operators
a=5
a=a+3
print(a)

8

In [13]:
a=5
a+=3
print(a)

8

In [1]:
a=2
a*=3
print(a)

6

In [2]:
a=6
a/=2
print(a)

3.0

In [4]:
#if else statement
age=21
if age >= 18:
    print("congs,you can drive")
else:
    print("sorry,you cannot drive")

congs,you can drive

In [5]:
score=88
if score >=90:
    print("A+")
0elif score >=80:
    print("A")
elif score >=70:
    print("B+")
else:
    print("B")

A

In [9]:
import numpy as np
1st=[1,2,3,4]
np.array (1st)

largest num is 100

In [11]:
#find largest number from 3 given number
num1=input('please enter first number ')
num2=input('please enter second number ')
num3=input('please enter third number ')
if (num1>=num2) and (num1>=num3):
    largest=num1
elif (num2>=num1) and (num2>=num3):
    largest=num2
else:
    largest=num3
print ("largest num is",largest)

please enter first number 9
please enter second number 7
please enter third number 6
largest num is 9

In [ ]:
#we have three designation : Executive,Manager, Senior manager
#take input from user "Designation " and print salry range of that Designation 
#Executive:30000-40000
#Manager:60000-90000
#Senior manager:120000-160000

#Input:Ask the designation from user : "Executive"
#Output: The salary range of the Executive is

In [5]:
designation = input("Enter your designation (Executive/Manager/Senior manager):")
designation = desgination.lower() #convert to small letters

if designation == "execuitve":
    print("The salary range for executive between 30000-40000")
elif designation == "manager":
    print("The salary range for manager between 60000-90000")
elif designation == "Senior manger":
    print ("The salary range for manager between 120000-160000")
else 
    print ("please enter correct choice"):

SyntaxError: expected ':' (4163522287.py, line 10)

In [3]:
import pandas as pd

In [ ]:
import numpy as np
!pip install pandas

In [ ]:
#create a dataframe
df=pd.DataFrame(datat) #shift +tab

In [ ]:
df.describe()

In [ ]:
df.iloc[4:4]

In [ ]:
np.nan #nan mns null value

df.describe()

In [ ]:
df.describe()